# Don't commit binaries
*.asm
*.dll
*.dylib
*.exe
*.lib
*.out

# Exclude editor config
.vscode/
.vs/

# Exclude temporary folders
*.egg-info/

# Exclude macOS folder attributes
.DS_Store

# Exclude macOS Info.framework.plist
Info.framework.plist

# Python byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
